@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo padrão da barra de rolagem (oculta) */
::-webkit-scrollbar {
    width: 6px;
    background-color: #999;
    border-radius: 5px;
  }

  /* Estilize o visual da barra de rolagem como desejar */
  ::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 5px;
  }

  /* Estilo da barra de rolagem quando o mouse passa sobre o contêiner */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #333; /* Cor da barra de rolagem no hover */
  }